<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (allproducts.length > 0) { %>
             <ul>
                <% allproducts.forEach(item => { %>
                 <li>
                     <p><%= item.productData.title %> (<%= item.qty %>)</p>
                     <form action="/cart-delete-item" method="POST">
                         <input type="hidden" name="productId" value="<%= item.productData.id %>">
                        <button class="btn" type="submit">Delete</button>
                     </form>
                 </li>
                <% }) %>                 
             </ul>
             <hr>
             <h3>Total Price: <%= totalPrice %> </h3>
           <% } else { %>
                <h1>No product in cart</h1>
            <% } %> 
               
        
        </main>
        <%- include('../includes/end.ejs') %>